* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'NeueMachina-Light';
    src: url('assets/fonts/NeueMachina-Light.otf');
}

@font-face {
    font-family: 'NeueMachina-Regular';
    src: url('assets/fonts/NeueMachina-Regular.otf');
}

@font-face {
    font-family: 'NeueMachina-Ultrabold';
    src: url('assets/fonts/NeueMachina-Ultrabold.otf');
}

body {
    background-color: #000;
    color: white;
}

.main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
}

.main::before {
    content: '';
    background-image: url('assets/images/bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 150vw;
    height: 50vh;
    z-index: -1;
}

.main::after {
    content: '';
    background-image: url('assets/images/bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 150vw;
    height: 50vh;
    z-index: -1;
    transform: rotate(180deg);
}

@media screen and (min-width: 768px) {

    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }
}